.customBtn {
    font-size: 14px;
    color: white;
    background-color: $theme1;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    white-space: nowrap;
    outline: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 0;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        border-radius: 20px;
    }
    &:hover {
        // background-color: #fff;
        &::before {
            transform: scale(1);
        }
        color: #000;
    }
    &.herobtn {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 6px 24px;
        &::before {
            background-color: $theme1;
        }
        &:hover {
            // background-color: #fff;
            &::before {
                transform: scale(1);
            }
            border-color: $theme1;
            color: #fff;
        }
        &.active {
            &::before {
                transform: scale(1);
            }
            border-color: $theme1;
        }
    }
    &.btntwo {
        border: 1px solid $theme1;
        color:$theme1;
        background-color: transparent;
        &::before {
            background-color: $theme1;
        }
        &:hover {
            // background-color: #fff;
            &::before {
                transform: scale(1);
            }
            color: #fff;
        }
    }
    &.btnthree {
        border: 1px solid $theme1;
        &:hover {
            border-color: $theme1;
            color: $theme1;
        }
    }
    &.showbtn {
        background-color: #fff;
        color: #000;
        &::before {
            background-color: $theme1;
        }
        &:hover {
            // background-color: #fff;
            &::before {
            }
            color: #fff;
        }
    }
   
}

.youtubeBtn{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: $red;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 8px;
    border: 0;
    outline: none;
    &:hover{
        background-color: rgb(191, 1, 1);
    }
}
@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .customBtn {
        font-size: 13px;
    }
    .youtubeBtn{
        font-size: 13px;
    }
}

@include media-breakpoint-down(sm) {
    .customBtn {
        font-size: 12px;
        padding: 7px 16px;
    }
    .youtubeBtn{
        font-size: 12px;
        padding: 8px 16px;
    }
}
