.channelinfo {
    padding-top: 45px;
    padding-bottom: 40px;
    & .leftdata {
        // position: sticky;
        // top: 82px;
    }
    & .detail-box {
        & .left-details {
            & .text {
                font-size: 14px;
                line-height: normal;
                font-weight: normal;
                color: #89868a;
                margin-left: 30px;
                position: relative;

                &::before {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background: #89868a;
                    position: absolute;
                    left: -15px;
                    top: 5px;
                }

                &:first-child {
                    margin: 0;

                    &::before {
                        content: unset;
                    }
                }
            }
        }

        & .right-details {
            & .close-channel-text {
                font-size: 14px;
                line-height: normal;
                font-weight: normal;
                color: #89868a;

                & .close-icon {
                    height: 14px;
                    width: 14px;
                    line-height: 10px;
                }
            }
        }
    }

    & .profilecard {
        padding: 14px;

        & .left-container {
            & .channel-image {
                aspect-ratio: 4/3;
            }

            & .channel-info {
                & .channel-main-details {
                    & .channel-name {
                        font-size: 24px;
                        line-height: 30px;
                        color: $black;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & .channel-subtitle {
                        font-size: 14px;
                        line-height: normal;
                    }
                }
            }

            & .details {
                & .details-text {
                    font-size: 14px;

                    & span {
                        font-weight: 500;
                    }
                }
            }

            & .price-box {
                font-size: 20px;

                & .price {}
            }
        }
    }

    & .seller-container {
        padding: 14px;

        & .heading {
            font-size: 18px;
            line-height: normal;
            color: $black;
        }

        & .seller-box {
            & .seller-details {
                & .seller-img {
                    height: 44px;
                    width: 44px;
                }

                & .seller-name {
                    & .name {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    & .rating {
                        font-size: 13px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    & .channeldata {
        padding: 14px;

        & .right-container {
            & .heading {
                font-size: 18px;
            }

            & .paragraph {
                font-size: 14px;
                line-height: 24px;
                color: #505050;

                & span {
                    font-weight: 500;
                }
            }

            & .channelCarousel {
                & .owl-stage-outer {
                    padding: 0;
                }
            }
        }
    }

    & .comments-container {
        padding: 14px;

        & .heading {
            font-size: 18px;
        }

        & .no-comment {
            font-size: 14px;
        }

        & .comment-box-container {
            & .comment-box {
                & .comment-head {
                    & .username {
                        font-size: 14px;
                        line-height: normal;
                    }

                    & .time {
                        font-size: 14px;
                        line-height: normal;
                        color: $gray-500;
                    }
                    & .delete-icon{
                        height: 10px;
                        width: 10px;
                    }
                }

                & .comment-body {
                    font-size: 14px;
                    line-height: normal;
                    max-width: 90%;
                }

                & .comment-footer {
                    & a {
                        font-size: 14px;
                        line-height: normal;
                        color: $gray-600;
                    }
                }
            }
        }
        & .comment-input{
            & .heading{
                font-size: 14px;
            }
            & textarea{
                font-size: 14px;
                &::placeholder{
                    font-size: 14px;
                }
                &:focus{
                    border-color: $theme1 !important;
                }
            }
        }
    }
}

@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .channelinfo {
        padding-top: 40px;
        padding-bottom: 35px;

        & .detail-box {
            & .left-details {
                & .text {
                    font-size: 13px;
                }
            }

            & .right-details {
                & .close-channel-text {
                    font-size: 13px;
                }
            }
        }

        & .profilecard {

            & .left-container {
                & .channel-image {}

                & .channel-info {
                    & .channel-main-details {
                        & .channel-name {
                            font-size: 22px;
                            line-height: 28px;
                        }

                        & .channel-subtitle {
                            font-size: 13px;
                        }
                    }
                }

                & .details {
                    & .details-text {
                        font-size: 13px;
                    }
                }

                & .price-box {
                    font-size: 18px;

                    & .price {}
                }
            }
        }

        & .seller-container {
            & .heading {
                font-size: 16px;
            }
            
        }

        & .channeldata {

            & .right-container {
                & .heading {
                    font-size: 16px;
                }

                & .paragraph {
                    font-size: 13px;
                    line-height: normal;
                    & span {}
                }

                & .channelCarousel {}
            }
        }

        & .comments-container {
    
            & .heading {
                font-size: 16px;
            }
    
            & .no-comment {
                font-size: 13px;
            }
    
            & .comment-box-container {
                & .comment-box {
                    & .comment-head {
                        & .username {
                            font-size: 13px;
                        }
    
                        & .time {
                            font-size: 13px;
                        }
                        & .delete-icon{
                        }
                    }
    
                    & .comment-body {
                        font-size: 13px;
                    }
    
                    & .comment-footer {
                        & a {
                            font-size: 13px;
                        }
                    }
                }
            }
            & .comment-input{
                & .heading{
                    font-size: 13px;
                }
                & textarea{
                    font-size: 13px;
                    &::placeholder{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
    .channelinfo {
        padding-top: 35px;
        padding-bottom: 30px;

        & .detail-box {
            & .left-details {
                & .text {
                    font-size: 12px;
                }
            }

            & .right-details {
                & .close-channel-text {
                    font-size: 12px;
                }
            }
        }

        & .profilecard {

            & .left-container {
                & .channel-image {}

                & .channel-info {
                    & .channel-main-details {
                        & .channel-name {
                            font-size: 20px;
                        }

                        & .channel-subtitle {
                        }
                    }
                }

                & .details {
                    & .details-text {
                        font-size: 12px;
                    }
                }

                & .price-box {

                    & .price {}
                }
            }
        }

        & .seller-container {
            & .heading {
                font-size: 14px;
            }
        }

        & .channeldata {

            & .right-container {
                & .heading {
                    font-size: 14px;
                }

                & .paragraph {
                    font-size: 12px;
                    line-height: 20px;
                    & span {}
                }

                & .channelCarousel {}
            }
        }

        & .comments-container {
    
            & .heading {
                font-size: 14px;
            }
    
            & .no-comment {
                font-size: 12px;
            }
    
            & .comment-box-container {
                & .comment-box {
                    & .comment-head {
                        & .username {
                            font-size: 12px;
                        }
                        
                        & .time {
                            font-size: 12px;
                        }
                        & .delete-icon{
                        }
                    }
                    
                    & .comment-body {
                        
                        font-size: 12px;
                    }
    
                    & .comment-footer {
                        & a {
                            font-size: 12px;
                        }
                    }
                }
            }
            & .comment-input{
                & .heading{
                    font-size: 12px;
                }
                & textarea{
                    font-size: 12px;
                    &::placeholder{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}